flows.json
[
    {
        "id": "762fd67ca64ef8eb",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f152b13e5ab0a0e",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable ESP32CAM topic (publish)",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "80769b93ee8979a0",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/enable",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "d1bf186d7e98ce5e",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable ESP32CAM",
        "label": "Enable ESP32CAM",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "80769b93ee8979a0"
            ]
        ]
    },
    {
        "id": "5b33e134d4c6cf33",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Normal Colored Image",
        "info": "",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "95f24f26ade49424",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/norm_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "60312f30299af50e",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Colored Image",
        "label": "Enable Colored Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 340,
        "wires": [
            [
                "95f24f26ade49424"
            ]
        ]
    },
    {
        "id": "6858cef0a661cfe0",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Negative Image",
        "info": "",
        "x": 180,
        "y": 400,
        "wires": []
    },
    {
        "id": "631833923fe6eba7",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/neg_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "79d461ac28c67a49",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Negative Image",
        "label": "Enable Negative Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "631833923fe6eba7"
            ]
        ]
    },
    {
        "id": "68b5623a0e62313b",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Grayscale Image",
        "info": "",
        "x": 190,
        "y": 560,
        "wires": []
    },
    {
        "id": "1dec5a8fbaa96f26",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/gray_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "8c88d758db64d790",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Grayscale Image",
        "label": "Enable Grayscale Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "1dec5a8fbaa96f26"
            ]
        ]
    },
    {
        "id": "03d29b4783d86e5c",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable RedTint Image",
        "info": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "191fee423fae61e8",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/red_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 780,
        "wires": []
    },
    {
        "id": "7164e7fb3b0abddf",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable RedTint Image",
        "label": "Enable RedTint Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "191fee423fae61e8"
            ]
        ]
    },
    {
        "id": "d2e9a5e3d5f55343",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable BlueTint Image",
        "info": "",
        "x": 180,
        "y": 840,
        "wires": []
    },
    {
        "id": "45985d1976820df2",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/blue_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 920,
        "wires": []
    },
    {
        "id": "ded1802b0db6a7f2",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable BlueTint Image",
        "label": "Enable BlueTint Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 920,
        "wires": [
            [
                "45985d1976820df2"
            ]
        ]
    },
    {
        "id": "319b0554ebd5a6e8",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable GreenTint Image",
        "info": "",
        "x": 190,
        "y": 980,
        "wires": []
    },
    {
        "id": "8bb2454544321ea5",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/green_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6bb9790264a34836",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable GreenTint Image",
        "label": "Enable GreenTint Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1060,
        "wires": [
            [
                "8bb2454544321ea5"
            ]
        ]
    },
    {
        "id": "51c8581ecd3b1b23",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Sepia Image",
        "info": "",
        "x": 170,
        "y": 1120,
        "wires": []
    },
    {
        "id": "95f9726beb9add86",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/sepia_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bbb3fe6c238426ee",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Sepia Image",
        "label": "Enable Sepia Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 1200,
        "wires": [
            [
                "95f9726beb9add86"
            ]
        ]
    },
    {
        "id": "2b37e344eb590910",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "subscribe to receive image from esp32cam",
        "info": "",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "cfd0a8b9a5961173",
        "type": "mqtt in",
        "z": "762fd67ca64ef8eb",
        "name": "subscribe to UoP_CO_326_E18_16_esp32/cam",
        "topic": "UoP_CO_326_E18_16_esp32/cam",
        "qos": "2",
        "datatype": "buffer",
        "broker": "2d2ffa9bbedd32d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 180,
        "wires": [
            [
                "f8d6a56ee59e0390"
            ]
        ]
    },
    {
        "id": "f8d6a56ee59e0390",
        "type": "image",
        "z": "762fd67ca64ef8eb",
        "name": "",
        "width": "400",
        "data": "payload",
        "dataType": "msg",
        "thumbnail": true,
        "active": true,
        "pass": true,
        "outputs": 1,
        "x": 940,
        "y": 280,
        "wires": [
            [
                "3457d8224da444a7"
            ]
        ]
    },
    {
        "id": "d5e103e45f64603c",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Horizontal Mirror Image",
        "info": "",
        "x": 210,
        "y": 1260,
        "wires": []
    },
    {
        "id": "55fd185692d96d02",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/mirror_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b33d13fd18caeb17",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Horizontal Mirror Image",
        "label": "Enable Horizontal Mirror Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 1340,
        "wires": [
            [
                "55fd185692d96d02"
            ]
        ]
    },
    {
        "id": "5b2bf07ee7d21eb9",
        "type": "comment",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Vertical Flip Image",
        "info": "",
        "x": 190,
        "y": 1400,
        "wires": []
    },
    {
        "id": "3327d18f5a93dce7",
        "type": "mqtt out",
        "z": "762fd67ca64ef8eb",
        "name": "publish",
        "topic": "UoP_CO_326_E18_16_esp32/flip_cam",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2d2ffa9bbedd32d0",
        "x": 480,
        "y": 1480,
        "wires": []
    },
    {
        "id": "6e53a71e75704461",
        "type": "ui_switch",
        "z": "762fd67ca64ef8eb",
        "name": "Enable Vertical Flip Image",
        "label": "Enable Vertical Flip Image",
        "tooltip": "",
        "group": "df14389884d18e2d",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1480,
        "wires": [
            [
                "3327d18f5a93dce7"
            ]
        ]
    },
    {
        "id": "bfa90f5c86df7bba",
        "type": "ui_template",
        "z": "762fd67ca64ef8eb",
        "group": "48f19c9c9cd73837",
        "name": "Viewer",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <img src=\"data:image/gif;base64,{{msg.payload}}\" alt=\"Image\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3457d8224da444a7",
        "type": "base64",
        "z": "762fd67ca64ef8eb",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 740,
        "y": 400,
        "wires": [
            [
                "bfa90f5c86df7bba",
                "bac602c07af292a9"
            ]
        ]
    },
    {
        "id": "bac602c07af292a9",
        "type": "function",
        "z": "762fd67ca64ef8eb",
        "name": "add image to database",
        "func": "msg.topic = \"INSERT INTO cam (imagefile) VALUES ('\" + msg.payload + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "7aa6eff61a8f2cbc",
                "8b2c32472a53a79e"
            ]
        ]
    },
    {
        "id": "7aa6eff61a8f2cbc",
        "type": "mysql",
        "z": "762fd67ca64ef8eb",
        "mydb": "b1ece71ba72b8698",
        "name": "",
        "x": 1360,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2c32472a53a79e",
        "type": "debug",
        "z": "762fd67ca64ef8eb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 240,
        "wires": []
    },
    {
        "id": "2d2ffa9bbedd32d0",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "192.168.8.119",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "df14389884d18e2d",
        "type": "ui_group",
        "name": "Options",
        "tab": "6e29c81b54950c1a",
        "order": 1,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "48f19c9c9cd73837",
        "type": "ui_group",
        "name": "Image",
        "tab": "6e29c81b54950c1a",
        "order": 2,
        "disp": false,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1ece71ba72b8698",
        "type": "MySQLdatabase",
        "z": "762fd67ca64ef8eb",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "nodecam",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6e29c81b54950c1a",
        "type": "ui_tab",
        "name": "Scada Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]